
/*
|----------------------------------------------------------
|       Em's breakpoints | calculate this
|----------------------------------------------------------
|
*/
// $mxs : 24em; //384px 
// $ms : 29.75em; //476px
// $ml : 39.8em; // 636.8px
// $bp-med : 46.8em;   //748.8px
// $bp-large-2 : 54.5em; //872px 
// $bp-xl-2 : 67em; //1072px

// $min : 20em; //320px 
// $sm : 30em; //480px
// $sml : 40em; // 640px
// $mds : 45em; // 720px
// $md : 48em; //768px
// $mdl : 50em; // 800px
// $lgs : 60em; //960px
// $lg : 64em; //1024px
// $lgl : 80em; //1280px
// $xls : 85.375em; //1366px
// $xl : 90em; //1440px
// $max : 120em; //1920px

@mixin breakpoint($from, $media) {
    @if $media == $min {
        @media ($from: $min) {
            @content;
        }
    }
    @if $media == $sm {
        @media ($from: $sm) {
            @content;
        }
    }
    @if $media == $sml {
        @media ($from: $sml) {
            @content;
        }
    }
    @if $media == $mds {
        @media ($from: $mds) {
            @content;
        }
    }
    @if $media == $md {
        @media ($from: $md) {
            @content;
        }
    }
    @if $media == $mdl {
        @media ($from: $mdl) {
            @content;
        }
    }
    @if $media == $lgs {
        @media ($from: $lgs) {
            @content;
        }
    }
    @if $media == $lg {
        @media ($from: $lg) {
            @content;
        }
    }
    @if $media == $lgl {
        @media ($from: $lgl) {
            @content;
        }
    }
    @if $media == $xls {
        @media ($from: $xls) {
            @content;
        }
    }
    @if $media == $xl {
        @media ($from: $xl) {
            @content;
        }
    }
    @if $media == $max {
        @media ($from: $max) {
            @content;
        }
    }
    
}