/*
|----------------------------------------------------------
|	Color functions
|----------------------------------------------------------
|
*/
////
/// @group functions
////
@function color($value) {
    @return map-get($color, $value);
}
@function social($value) {
    @return map-get($social, $value);
}
@function social-rgb($value) {
    @return map-get($social-rgb, $value);
}
@function palette($value) {
    @return map-get($palette, $value);
}
/*this is for multiple palettes */
// @function palette($palette, $tone: 'base') {
//     @return map-get(map-get($palettes, $palette), $tone);
// }

