@mixin button() {
		position: relative;
		outline: none;
		overflow: hidden;
		border: none;
		display: inline-block;
	    transition: background-color .3s;
		text-transform: uppercase;
		font-family: Londrina;
		color: color(white);
		background-color: color(button);
	 //    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
		// font-size: 2.2rem;
		// border-radius: 5px;
		// padding: 10px;
		// margin-bottom: 50px;
		// margin-right: 25px;
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			display: block;
			width: 0;
			padding-top: 0;
			border-radius: 100%;
			background-color: rgba(236, 240, 241, .3);
			transform: translate(-50%, -50%);
		}
		&:active:before {
			width: 120%;
			padding-top: 120%;
			transition: width .2s ease-out, padding-top .2s ease-out;
		}
		&:hover, &:focus {
			background-color: #c0392b;
		}  
}