// box 
$form_box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 2px 5px rgba(0, 0, 0, 0.4);
$form_border-radius: 3px;
$form_border: 1px solid #4790a2;
// label 
$label_color: rgba(127,115,103, 1);
$label_font-size: 1.4rem;
$label_font-style: normal;
$label_font-family: arial;
$label_padding: 24px 0 24px 10px;

// hover label 
$hover_label_top: 8px;
$hover_label_offset_top: 8px;
$hover_label_left: 10px;
$hover_label_color: color(brandsecond);
$hover_label_font-size: 1.1rem;
$hover_label_font-style: italic;
$hover_label_font-family: arial;

//placeholder 
$placeholder_color: rgba(127,115,103, .5);;
$placeholder_font-size: 1.1rem;

//submit buttom
$button_color: #ffffff;
$button_text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
$button_padding: 12px 35px;
$button_font-family: Londrina;
$button_text-transform: uppercase;
$button_font-size: 3rem; 
$button_border-radius: 3px;
$button_line-height: 1;
$button_border: 1px solid #4d453e;
$button_box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(255, 255, 255, 0.2);
$button_background-color: color(brandbutton);
$button_transition: all .2s ease-in-out;
.field input,
.field textarea {
  width: 100%;
  display: block;
  border:  $form_border;
  margin: 25px 0;
  padding: $label_padding;
  box-shadow:  $form_box-shadow;
  border-radius: $form_border-radius;
  font-size: $label_font-size;
  font-family:  $label_font-family;
  font-style: $label_font-style;
  color: $label_color;
}
.field input {
  &:first-of-type {
    margin-top: 0;
  }
}
.field textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 250px;
    margin-bottom: 25px;
} 
.field input:focus, 
.field input:valid, 
.field textarea:focus, 
.field textarea:valid {
  outline: none;
  box-shadow:  $form_box-shadow;
}

form label {position: relative;display: block;}
form label .input::-webkit-input-placeholder {color: $placeholder_color; font-size: $placeholder_font-size; -webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
form label .input::-moz-placeholder {color: $placeholder_color; font-size: $placeholder_font-size;  -webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
form label .input:-ms-input-placeholder {color: $placeholder_color; font-size: $placeholder_font-size;  -webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
form label .input::placeholder {color: $placeholder_color; font-size: $placeholder_font-size;  -webkit-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
form label .input:focus::-webkit-input-placeholder, form label .input.populated::-webkit-input-placeholder {color: transparent;}
form label .input:focus::-moz-placeholder, form label .input.populated::-moz-placeholder {color: transparent;}
form label .input:focus:-ms-input-placeholder, form label .input.populated:-ms-input-placeholder {color: transparent;}
form label .input:focus::placeholder, form label .input.populated::placeholder {color: transparent;}
form label .input:focus + span, form label .input.populated + span {opacity: 1;top: $hover_label_offset_top;}
form label span {
  color: $hover_label_color;
  font-size: $hover_label_font-size;
  font-style: $hover_label_font-style;
  font-family: $hover_label_font-family;
  position: absolute;
  top: $hover_label_top;
  left: $hover_label_left;
  opacity: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.submit_contact {
  box-shadow: $button_box-shadow;
  border: $button_border;
  border-radius: $button_border-radius;
  background-color: $button_background-color;
  color: $button_color;
  text-transform: $button_text-transform;
  font-size: $button_font-size;
  font-family: Londrina;
  text-shadow: $button_text-shadow;
  line-height: $button_line-height;
  padding: $button_padding;
  transition: $button_transition;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  }
}