.contact_section {
	.container {

	}
	.header_section {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		color: color(white);
		margin-bottom: 35px;
		.left {
			// flex-basis: calc(55% - 15px);
			// margin-right: 35px;
			h2 {
				font-family: Bebas;
				font-size: 4.2rem;
				line-height: 1;
				text-shadow: $light-shadow;
				span {
					font-size: 8.8rem;
					line-height: 1;
				}
			}
		}
		.right {
			// width: 50%;
			flex-basis: calc(45% - 25px);
			.title_description {
				margin-bottom: 15px;
				text-shadow: $light-shadow;
				font-size: 1.4rem;
			}
		}
	}
	.contact_content {
		display: flex;
		justify-content: space-between;
		.contact-information {
			flex-basis: calc(55% - 15px);
			margin-right: 35px;
			//contact styles in contact-form file
		}
		.news_container {
			flex-basis: calc(45% - 25px);

			article {
				background-color: color(white);
				box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
				border-radius: 5px;
				margin-bottom: 15px;
				padding: 15px 15px 15px 15px;

				position: relative;
				h3 {
					text-transform: uppercase;
					font-family: Londrina;
					color: color(brandsecond);
					font-size: 2.4rem;
					line-height: 1;
					margin-bottom: 10px;
					padding-right: 100px;
				}
				p {
					font-family: arial;
					font-size: 1.2rem;
					color: color(text);
					line-height: 1.5;
				}
				footer {

				}
				time {
					color: #959595;
					font-family: arial;
					font-size: 1.1rem;
					
					position: absolute;
					top: 20px;
					right: 15px;
					bottom: auto;
					left: auto;

				}
			}
		}
		.paginate_element {
			display: flex;
			justify-content: flex-end;
			color: color(white);
			font-family: arial;
			font-style: italic;
			font-size: 1.1rem;
			text-shadow: 0 1px 0 rgba(34, 78, 89, 0.25);
		}
	}
}