/*
|---------------------------------------------------------------------
|	Config = Default variables | fonts | breakpoints | colors | metadata
|---------------------------------------------------------------------
|
*/
////
/// @group Config
/// @author Bartosz Maciejewicz
////

// Breakpoints
$min: 20em;     /// 320px 
$sm:  30em;     /// 480px
$sml: 40em;     /// 640px
$mds: 45em;     /// 720px
$md:  48em;     /// 768px
$mdl: 50em;     /// 800px
$lgs: 60em;     /// 960px
$lg:  64em;     /// 1024px
$lgl: 80em;     /// 1280px
$xls: 85.375em; /// 1366px
$xl:  90em;     /// 1440px
$max: 120em;    /// 1920px

$page-max-width: 1920px;
$nav-breakpoint: 768px;

///For mobile just change with breakpoint on less value 
$spacer:        30px;

// Default fonts
// @import url(../fontello/css/fontello.css);
// @import url(../fontello/css/fontello.css);
@font-face {
    font-family: Londrina;
    src: url("../fonts/LondrinaSolid-Regular.otf");
}

@font-face {
    font-family: Bebas;
    src: url("../fonts/BebasNeue.otf");
}


$font-family-sans: Londrina !important;
$font-family-serif: Bebas !important;
// $font-family-condensed: Adelle!important;
$font-family-default: $font-family-sans;




$brand: #80bcc4;
$brandsecond:  #599793;
$brandthree: #9aac49;
$brandbutton: #e74c48;
/// Main colors pallete
$color: (
	brand:              $brand,
	brandsecond:        $brandsecond,
	brandsthree:        $brandthree,
	brandbutton:        $brandbutton,
	brand-link:         darken($brand, 10%),
	brand-light:        lighten($brand, 10%),
	brand-dark:         darken($brand, 10%),
	link:               steelblue,
	link-muted:         steelblue,
	button:             #e74c48,
	text:               #7e7e7e,
	text-dark:          #2c2a29,
	text-light:         #8a8c8f,
	text-lightest:      #959595,
	text-lightest-bold: #767676,
	text-meta:          #767676,

	page-background:    #FFFFFF,
	body-background:    #FFFFFF,
	background-light:   #f9fafb,
	white:              #FFFFFF,
	black:              #000000,					
	border:             #ededed,


	success:            #5DB946,
	error:            #CC0000,
	seriousError:       #FFFFFF,
	intrusionError:       #FFFFFF,
	criticalError:       #FFFFFF,


	disability-text:       #FFFFFF,
	disability-background: rgb(0,0,0),
	disability-opacity:    .6
);

$light-shadow: 0px 2px 0px rgba(34, 78 ,89 , 0.25);
$dark-shadow: 0px 2px 0px rgba(34, 78 ,89 , 0.75);
$white-shadow: 0px 1px 0px rgba(255, 255 ,255 , 0.25);
