.contact_section {
	background-color: color(brand);
}
.contact_section {
	padding: 50px 0;
}

.page_footer {
	position: relative;
	color: color(brand);
	background-color: color(background-light);
	padding: 30px 0;
	.container {
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: space-between;
	}
	a {
		color: color(brand);
	}
	img.background_footer {
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 0;
	}
	.left {
		p {
			font-family: Londrina;
			font-size: 1.4rem;
			padding-bottom: 5px;
		}
		.footer_navigation {
			ul {
				display: flex;
				li {
					a {
						font-size: 1rem;
						border-right: 1px solid color(brandsecond);
						padding: 0 5px;
						font-weight: bold;
					}
					&:last-of-type {
						a {
							border-right: 0;
						}
					}
					&:first-of-type {
						a {
							padding-left: 0;
						}
					}
				}
			}		
		}
	}
	.right {
		display: flex;
		align-items: center;
		.social_list {
			display: flex;
			li {
				padding-right: 5px;
				&:last-of-type {
					padding-right: 0;
				}
			}
		}
	}

}