.page_header {
	background-color: color(brand);
	color: color(white);
	position: relative;
	overflow: hidden;	
	.container {
		position: relative;
	}
	img {
		position: absolute;
		&.phone_light_background {
			opacity: .35;
			bottom: -240px;
			left: - 130px;
			right: auto;
			top: auto;
			z-index: 0;
		}
		&.phone_background {
			opacity: 1;
		}
		&.phone_image {
			opacity: 1;
			bottom: -60px;
			left: 0;
			top: auto;
			right: auto;
		}
		&.phone_light {
			left: 0;
			bottom: 0;
			right: auto;
			top: auto;
		}
	}
	.header_top {
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 60px;
	}
	h1 {
		z-index: 10;
		font-size: 4.8rem;
		text-transform: uppercase;
		font-family: Londrina;
		text-shadow: $dark-shadow;
	}
	.header_navigation {
		z-index: 10;
		ul {
			display: flex;
			li {
				&:first-of-type {
					padding-left: 0;
				}
				a {
					font-style: bold;
					text-shadow: $light-shadow;
					padding: 10px;
					padding-top: 20px;
					&:hover {
						background: linear-gradient(to bottom, rgba(34,78,89,0.5) 0%, rgba(128,188,196,.5) 35%, rgba(0,204,255,0) 100%);
					}
				}
			}
		}
	}
	.header_content {
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		max-width: 595px;
		margin-left: auto;
		margin-right: 0;
		.header_title {
			display: inline-block;
			font-family: Bebas;
			font-size: 62.5%;
			font-size: 7.2rem;
			line-height: 1;
			text-shadow: $light-shadow;
			span {
				font-size: 12.8rem;
				line-height: 1;
			}
		}
		p {
			font-size: 1.4rem;
			line-height: 1.25;
			color: #224e59;
			margin-bottom: 40px;
			text-shadow: $white-shadow;
		}
		.header_call_to_action {
			display: flex;
			justify-content: center;
			position: relative;
			.button {
				@include button();
				box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
				font-size: 2.2rem;
				border-radius: 5px;
				padding: 10px;
				margin-bottom: 50px;
				margin-right: 25px;
			}
			// .button {
			// 	position: relative;
			// 	outline: none;
			// 	overflow: hidden;
			// 	border: none;
			// 	display: inline-block;
			//     transition: background-color .3s;
			// 	text-transform: uppercase;
			// 	font-family: Londrina;
			// 	color: color(white);
			// 	background-color: color(button);
			//     box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
			// 	font-size: 2.2rem;
			// 	border-radius: 5px;
			// 	padding: 10px;
			// 	margin-bottom: 50px;
			// 	margin-right: 25px;
			// 	&:before {
			// 		content: "";
			// 		position: absolute;
			// 		top: 50%;
			// 		left: 50%;
			// 		display: block;
			// 		width: 0;
			// 		padding-top: 0;
			// 		border-radius: 100%;
			// 		background-color: rgba(236, 240, 241, .3);
			// 		transform: translate(-50%, -50%);
			// 	}
			// 	&:active:before {
			// 		width: 120%;
			// 		padding-top: 120%;
			// 		transition: width .2s ease-out, padding-top .2s ease-out;
			// 	}
			// 	&:hover, &:focus {
			// 		background-color: #c0392b;
			// 	}  
			// }
			img.arrow {
				right: calc(50% - 160px);
				bottom: 50px;
			}
		}
	}
}