.services {
	padding: 50px 0 40px 0;
	background-color: color(background-light);
	z-index: 1;
	position: relative;
	img.decorative_background {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: auto;
		width: 100%;
		z-index: -1;
		background: linear-gradient(to top, rgba(128,188,196,1) 0%, rgba(249,250,251,1) 55%, rgba(249,250,251,1) 100%);
	}
	.container {
		position: relative;
		z-index: 1;
	}
	.services_list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li {
			flex-basis: calc( 100% / 3 - 30px);
			margin-bottom: 50px;
			&:nth-of-type(3) {
				padding-right: 0;
			}
			img {
				display: block;
				float: left;
				margin-right: 10px;
				&.innovation-icon {
					margin-top: -10px;
				}
			}
			h2 {
				color: color(brandsecond);
				font-size: 2.2rem;
				font-family: Londrina;
				text-transform: uppercase;
				margin-bottom: 15px;
			}
			p {
				font-size: 1.2rem;
				line-height: 1.45;
				color: color(text);
			}
			&.twitter_info {
				position: relative;
				img.dialog_icon {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					bottom: auto;
					right: auto;
					width: 100%;

				}
				img.twitter_icon {
					position: relative;
					z-index: 2;
				}
				p {
					position: relative;
					z-index: 2;
					font-size: 1.2rem;
					line-height: 1.5;
					color: color(brandsecond);
					padding: 15px 15px;
					margin-bottom: 10px;
				}
			}
		}
	}
}