html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-size: 16px;
	font-family: arial;
	a {
		color: color(white);
		text-decoration: none;
	}
}
.container {
	width: 944px;
	margin: 0 auto;
}



// /* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
// body {font: 13px Helmet, Freesans, sans-serif;}

// /* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */

// /* We like off-black for text. */
// body, select, input, textarea {color: #333;}

// a {color: #03f;}
// a:hover {color: #69f;}

// /* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
// ::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
// ::selection {background: #fcd700; color: #fff; text-shadow: none;}

// /*  j.mp/webkit-tap-highlight-color */
// a:link {-webkit-tap-highlight-color: #fcd700;}

// ins {background-color: #fcd700; color: #000; text-decoration: none;}
// mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

// /* Mozilla dosen't style placeholders by default */
// input:-moz-placeholder { color:#a9a9a9; }
// textarea:-moz-placeholder { color:#a9a9a9; }


// body {
//   margin: 50px;
// }
