.our_work {
	background-color: color(brand);
	padding: 50px 0;
	.container {

	}
	.header_section {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		color: color(white);
		.left {
			h2 {
				font-family: Bebas;
				font-size: 4.3rem;
				line-height: 1;
				text-shadow: $light-shadow;
				span {
					font-size: 12.8rem;
					line-height: 1;
				}
			}
		}
		.right {
			width: 50%;
			.title_description {
				margin-bottom: 22px;
				text-shadow: $light-shadow;
				font-size: 1.4rem;
			}
		}
	}


	.app_container {
		.app_list {
			display: flex;
			li {
				display: flex;
				flex-direction: column;
				height: auto;
				position: relative;
				padding-bottom: 85px;

				background-color: #f5f1e6;
				width: calc(100% / 3);
				// border: 1px solid black;
				.app_info {
					padding: 10px 10px 0 10px;
					display: flex;
					justify-content: space-between;
					.left {
						margin-right: 15px;
						h3 {
							font-family: Londrina;
							color: #9aac49;
							text-transform: uppercase;
							font-size: 2.2rem;
							line-height: 1.2;
							margin-bottom: 10px;
						}
						p {
							color: color(text);
							font-size: 1.2rem;
							line-height: 1.5;
						}
					}
					.right {
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						.app_icon {
							min-width: 100px;
							margin-bottom: 20px;
							// display: inline-block;
						}
						.btn {
							// display: flex;
							// justify-content: center;
							@include button();
							padding: 12px 10px;
							border-radius: 5px;
							text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
							&.view_more {

							}
						}
					}
				}
				.app_meta {
					position: absolute;
					bottom: 0;
					top: auto;
					left: 0;
					right: 0;
					width: 100%;

					display: flex;
					justify-content: center;
					padding: 12px 0 12px 0;
					border-top: 1px solid #e0dcd1;
					.pay_icon {
						&.google_play {
							a {
								padding: 6px 5px 6px 5px;
							}
						}
						&:nth-of-type(2) {
							// background-color: red;
							margin-left: 25px;
							img {
							}
						}
						a {
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 5px;
							border: 1px solid #e0dcd1;
							border-radius: 5px;
							&:hover {
								border: 1px solid darken(#e0dcd1, 10%);
							}
							img {
								display :block;
							}
						}
					}
				}
			}
		}
	}
}