.workers {
	padding: 45px 0;
	position: relative;
	background-color: color(background-light);
	z-index: 1;
	a {
		color: color(brand);
	}
	.contaienr {

	}
	
	img.decorative_background {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: auto;
		width: 100%;
		z-index: -1;
		background: linear-gradient(to top, rgba(128,188,196,1) 0%, rgba(249,250,251,1) 55%, rgba(249,250,251,1) 100%);
	}
	h2 {
		color: color(brandsecond);
		font-size: 3rem;
		text-transform: uppercase;
		font-family: Bebas;
		line-height: 1;
		margin-bottom: 21px;
		span {
			font-size: 10.8rem;
			line-height: 1;
			display: inline-block; 
		}
		br {
			line-height: 1;
			display: block;
			margin: 10px 0;
			line-height: 20px;
			content: "";
		}
	}
	.workers_list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		li {
			display: flex;
			flex-basis: calc(50% - 25px);
			height: auto;

			margin-bottom: 50px;
			// background-color: red;
			.left {
				width: 100%;
				.image_box {
					z-index: 10;
					position: relative;
					height: 180px;
					width: 180px;
					border-radius: 50%;
					border: 7px solid color(brand);
					box-shadow: outset 0 1px 0 1px rgba(255, 255, 255, 0.5);
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;
					margin-right: 15px;
				}
				img {
					z-index: -1;
					position: absolute;
					display: block;
					min-width: 180px;
				}
			}
			.right {
				// width: auto;
				padding-top: 5px;
				h3 {
					color: color(brandsecond);
					font-size: 2.4rem;
					text-transform: uppercase;
					font-family: Londrina;
					line-height: 1;
					padding-bottom: 10px;
					span {
						color: color(brandsthree);
						font-size: 1.8rem;
						line-height: 1;
					}
				}
				p {
					color: color(text);
					font-size: 1.2rem;
					line-height: 1.35;
					margin-bottom: 10px;
				}
				.social_links {
					a {
						display: inline-block;
						margin-right: 1px;
						img {
							display: block;
						}
					}
				}
			}
		}
	}
}